---
- name: Deploy Franchise API en EC2
  hosts: web
  become: yes

  vars:
    project_dir: /home/ubuntu/franchise-api

  tasks:

    - name: Actualizar cache del sistema
      apt:
        update_cache: yes

    - name: Instalar dependencias necesarias
      apt:
        name:
          - git
          - docker.io
          - curl
        state: present

    - name: Asegurar que Docker esté corriendo
      service:
        name: docker
        state: started
        enabled: yes

    - name: Agregar usuario ubuntu al grupo docker
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Instalar Docker Compose v2
      get_url:
        url: https://github.com/docker/compose/releases/download/v2.24.6/docker-compose-linux-x86_64
        dest: /usr/local/bin/docker-compose
        mode: '0755'

    - name: Detener contenedores existentes (si existen)
      shell: docker compose down
      args:
        chdir: "{{ project_dir }}"
      ignore_errors: yes

    - name: Limpiar imágenes Docker no usadas
      shell: docker image prune -f

    - name: Eliminar directorio del proyecto antiguo
      file:
        path: "{{ project_dir }}"
        state: absent

    - name: Clonar repositorio actualizado
      git:
        repo: https://github.com/Johnki1/franchise-api.git
        dest: "{{ project_dir }}"
        version: main
        force: yes

    - name: Construir y levantar contenedores
      shell: docker compose up -d --build
      args:
        chdir: "{{ project_dir }}"